#header {
    background-image: url(../img/fpv_drone_01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 15rem;
}

h1{
    color: #22aeb7;
    font-size: 130px;
}

h2{
    color: white;
    font-size: 100px;
}
p{
    color: white;
    font-size: 34px;
}