#header {
     background-image: url(../img/header-fpv-bc-01.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 6rem 5rem 12rem 5rem;
 }

#row3{
    background-image: url(../img/web-math-3row.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 5% 10% 5%;
}

#rowtwo{
    background-image: url(../img/row-02-bc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0% 10% 0%;
}



h1{
    color: #ffffff;
    font-size: 10rem;
}

h2{
    color: white;
    font-size: 4rem;
}
p{
      color: white;
      font-size: 1.5rem;
  }

h3{
     color: white;
     font-size: 2rem;
 }
h4{
    color: white;
    font-size: 34px;
}



#icon{
    height: 100px;
}

#icon3{
    height: 100px;
}

.button {
    background-color: #FF00E8;
    border: none;
    color: #FF00E8;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin:auto;
    display:block;
    -webkit-border-radius: 35px;
    border-radius: 35px;

}

.button1 {
    background-color: #FF00E800;
    color: #FF00E8;
    border: 4px solid #FF00E8;
}

.button1:hover {
    background-color: #FF00E8;
    color: white;
}
hr{
    border-width: 5px;
    border-top: solid #FF00E8;
    width: 200px;
}

#pic01{
    background-image: url(../img/pics-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0% 10% 0%;
}

#pic02{
    background-image: url(../img/pics-02.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0% 10% 0%;
}

#pic03{
    background-image: url(../img/pics-03.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0% 10% 0%;
}

#pic04{
    background-image: url(../img/pics-04.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0% 10% 0%;
}

#pic05{
    background-image: url(../img/pics-05.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0% 10% 0%;
}

#pic06{
    background-image: url(../img/pics-06.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0% 10% 0%;
}


