.con-head-slider{
    height: 60%;
    width: 100%;
    background-image: url("../img/contact-head-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.con-form{
    padding-bottom: 2%;
}

