.en-head-slider{
    height: 80%;
    width: 100%;
    background-image: url("../img/fitlab-head-trainer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}

.con-form{
    padding-bottom: 2%;
}



/*-----------------------------------   Team   ------------------------------------------------*/
.team{
    margin: 4em 0;
    position: relative;
}

.team .item{
    position: relative;
}
.team .des{
    background: #F97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition:.3s ease-in-out;
}


.team .item:hover .des{
    height: 100%;
    background:#f973007d;
    position: absolute;
    width: 89%;
    font
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
}



